h1 {
  text-transform: uppercase;
  margin-top: 30px;
}
.js-hidden {
  display:none;
}
.op-hidden {
  display:none;
}
.var-hidden {
  display:none;
}
.vnc-hidden {
  display:none;
}
.fun-hidden {
  display:none;
}
.meth-hidden {
  display:none;
}
.argu-hidden {
  display:none;
}
.para-hidden {
  display:none;
}
/*.op-hidden {
  display:none;
}
.op-hidden {
  display:none;
}
.op-hidden {
  display:none;
}
.op-hidden {
  display:none;
}
.cards {

}*/
